<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/MSNcss.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel='icon' type="image/jpg" href="{% static 'img/Masna un Nehel Logo1.png' %}" />
<!-- script-->

{#<style type="text/css">#}
{#   body { background: #ddd !important; }#}
{#</style>#}
<title>Masna-un-Nehel</title>
</head>
<body onload="load_cart(),please_register({{ msg }})" >
<b class="screen-overlay"></b>
<!--login offcanvas -->
<aside class="offcanvas" id="login">
  <header class="p-4 bg-light border-bottom">
    <button class="btn btn-outline-danger btn-close"> &times </button>
    <h6 class="mb-0">LOGIN </h6>
  </header>
  <nav class="list-group list-group-flush">
      <form action="{% url 'customer:verify_login' %}" method="POST">
             {% csrf_token %}
          <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Username" name="uname" required>
          </div>
          <div class="form-group">
            <label for="psw">Password</label>
            <input type="password" class="form-control" name="psw" placeholder="Enter Password" required>
          </div>
          <button type="submit" value="submit" class="btn btn-primary" >Submit</button>
      </form>
  </nav>
</aside>
<!--register offcanvas -->
<aside class="offcanvas" id="register">
  <header class="p-4 bg-light border-bottom">
    <button class="btn btn-outline-danger btn-close"> &times </button>
    <h6 class="mb-0">REGISTER </h6>
  </header>
  <nav class="list-group list-group-flush">
        <form action="{% url 'customer:verify_register' %}" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="uname" class="text-center">Username</label>
                <input type="text" name="uname" class="form-control">
            </div>
            <div class="form-row">
                <div class="col">
            <div class="form-group">
                <label for="email" class="text-center">E-mail</label>
                <input type="text" name="email" class="form-control">
            </div>
                </div>
                <div class="col">
            <div class="form-group">
        <label for="psw" class="text-center">Password</label>
        <input type="password" name="psw" class="form-control">
            </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
            <div class="form-group">
        <label for="f_name" class="text-center">First Name</label>
        <input type="text" name="f_name" class="form-control">
            </div>
                </div>
                <div class="col">
            <div class="form-group">
        <label for="l_name" class="text-center">Last Name</label>
        <input type="text" name="l_name" class="form-control">
            </div>
                </div>
            </div>
            <div class="form-group">
        <label for="phone" class="text-center">Phone</label>
        <input type="number" name="phone" class="form-control">
            </div>
            <div class="form-group">
        <label for="add" class="text-center">Address</label>
        <input type="text" name="add" class="form-control">
            </div>
        <input type="submit" class="btn btn-primary" >
    </form>
  </nav>
</aside>
<!--navbar-->
<nav class="navbar smart-scroll navbar-expand-lg navbar-light" style="background-color: #fff" >
  <div class="container-fluid">
     <a class="navbar-brand" href="#">
            <img class="navLogo" src="{% static 'img/Masna un Nehel Logo1.png' %}" width="40"/>
     |Masna-un-Nehel
            <img class="navAN" src="{% static 'img/msnName.png' %}" width="100"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
   <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product:product_list' %}">Products</a>
        </li>
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Login
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" role="button" data-trigger="#login" >login</a></li>
            <li><a class="dropdown-item" role="button" data-trigger="#register" >Register</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'customer:login_page' %}" tabindex="-1" aria-disabled="true"
            >Login</a
          >
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'customer:shopping_cart' %}">
            <span class="badge badge-pill bg-danger"  id="demo"></span>
          <span><i class="fa fa-shopping-cart"></i></span>
        </a>
        </li>
          <li>
              <button type="button" class="badge badge-dark" onclick="rem_from_cart()" >remove</button>
          </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
</nav>
<!--carousel-->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <!--<div class="overlay-image" style="background-image:url(High%20Resolution%20Pics/MASNA-UN-NEHEL/PRODUCTS/SHOP/DSC_7329.JPG)"></div>-->
      <img src="{% static 'img/DSC_7329.JPG' %}" class="d-block w-100"  alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
        <!--<div class="overlay-image" style="background-image:url(0d070cf7488858e4a054655d984bab6b--yellow-shades-brown-shades.jpg)"></div>-->
      <img src="{% static 'img/DSC_7345.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/DSC_7341.JPG' %}" class="d-block w-100"  alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <!--<span class="visually-hidden">Previous</span>-->
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <!--<span class="visually-hidden">Next</span>-->
  </a>
</div>
<!--vision card -->
<div class="container-fluid vision-card">
    <div class="row">
        <div class="col">
            <div class="card rounded mx-auto d-block" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'img/vision.jpeg' %}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text text-center h5">
                 We aim to encourage consumption of pure and raw honey as a staple food because of its overwhelming health benefits.
                <p class="text-center mt-3">
                Why not eat a variety of raw honey that contain all the vital nutrients our body needs to grow and remain healthy?
                </p>
                <p class="text-center mt-3">
                    At Masna' un Nehel, we value the hard work of honey bees who are the natures most revered creation. We treat honey with great respect for it heals us. We feel a lot of joy in helping our customers make a healthy and smart choice.
                </p>
                </p>
              </div>
            </div>
        </div>
    </div>
</div>
<!--vision-->
<div class="container vision mt-5">
    <div class="row">
    <div class="col ">
            <img src="{% static 'img/vision.jpeg' %}" class="rounded float-left img-fluid " />
    </div>
        <div class="col">
            <p color="#694A38" class="text-center h3 ">
                We aim to encourage consumption of pure and raw honey as a staple food because of its overwhelming health benefits.
            </p>
            <p class="text-center h4 mt-5">
                Why not eat a variety of raw honey that contain all the vital nutrients our body needs to grow and remain healthy?
            </p>
            <p class="text-center h4 mt-5">
                At Masna' un Nehel, we value the hard work of honey bees who are the natures most revered creation. We treat honey with great respect for it heals us. We feel a lot of joy in helping our customers make a healthy and smart choice.
            </p>
        </div>
    </div>
</div>
<!-- products owlCarousel -->
<div class="container mt-5 mb-5">
	<div class="owl-carousel owl-theme">
        {% for product in products %}
    	<div class="ml-2 mr-2" style="background-color: #fff">
        	<div class="card">
            	<img src="{{ product.picture.url }}" class="card-img-top" />
                <div class="card-body">
                	<h5 class="card-title">{{ product.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- footer-->
<footer>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <a href="https://www.facebook.com/Masna-un-Nehel-Honey-1564799327114582/">
    <i class="fa fa-facebook-square" ></i></a>
        <i class="fa fa-instagram" href="#"></i>
        <i class="fa fa-twitter" href="#"></i>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright © 2020 Masna-un-Nehel All rights reserved
  </div>
  <!-- Copyright -->
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% include "customer/cart_script.html" %}
<script src="{% static 'owl.carousel.min.js' %}"></script>
<script>
    if($(window).width()>425){
    $('.owl-carousel').owlCarousel({
        loop: true,
        items: 3,
        autoplay: true,
        autoplayHoverPause: true,
        nav: false,
        dots: true,
     });
     }else{
    $('.owl-carousel').owlCarousel({
        loop: true,
        items: 1,
        autoplay: true,
        autoplayHoverPause: true,
        nav: false,
        dots: true,
     });
     }
</script>
<script>
$("[data-trigger]").on("click", function(e){
    e.preventDefault();
    e.stopPropagation();
    var offcanvas_id =  $(this).attr('data-trigger');
    $(offcanvas_id).toggleClass("show");
    $('body').toggleClass("offcanvas-active");
    $(".screen-overlay").toggleClass("show");
});

$(".btn-close, .screen-overlay").click(function(e){
   $(".screen-overlay").removeClass("show");
   $(".offcanvas").removeClass("show");
   $("body").removeClass("offcanvas-active");
});
</script>

</html>
